<h1>Stations</h1>
<p *ngIf="isBusy"><i>Loading stations ...</i></p>
<p *ngIf="!isBusy">
  <i>Click to select a station</i> &nbsp;
  <button (click)="getStations()" [hidden]="!station">Refresh</button> &nbsp;
</p>

<div *ngIf="!isBusy">
  <fieldset>
      <label>
        Station:
        <select [value]="currentSectionIx" (change)="onSectionChange($event.target.selectedIndex)">
          <option *ngFor="let stat of stations; let i = index" [value]="i">{{stat.name}}</option>
        </select>
      </label>
  </fieldset>
</div>

<p *ngIf="!isBusy">
  <radio-audio [stream]="stream" (shift)="shift($event)" [hidden]="!station"></radio-audio>  
  <!-- <i>Click to play a station</i> &nbsp;
  <button (click)="playStation(station)" [hidden]="!station">Play</button> &nbsp; -->
</p>

  <!-- <ul>
    <li>
        {{station.id}}
        {{station.name}}
        {{station.website}}
    </li>
  </ul>

  <ul>
    <li>
        {{stream.type}}
        {{stream.url}}
    </li>
  </ul> -->


<div *ngIf="!isBusy">
  <hr>
  <!-- <customer-detail [customer]="customer"
                   (shift)="shift($event)">
  </customer-detail> -->
</div>